
html{
    height: 100%;
}
body{
    width: 100vw;
    background: linear-gradient(to top,
     rgb(136, 4, 197) 10%,
      rgb(255, 230, 0) 40%,
       rgb(240, 206, 12) 100%);
}
#title{
    background: rgba(61, 35, 2, 0.7);
    padding: .3em;
    width:50%;
    margin: 0 auto;
    border-radius: 5px;
}
#title h2{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(197, 31, 197);
    text-shadow: 0px 3px 4px rgba(7,7,7,.7);
}
#title h2>span{
    color: yellow;
}
#title h2, #ava-title{

}
#ava-title{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    font-size: 2.4em;
    text-shadow: 0px 3px 4px rgba(7,7,7,.7);
}
#cont-canvas{
    /* position: relative; */
    /* background: rgb(197, 31, 197); */
    width: 100%;
    margin: 1em auto;
}
#canvas{
    position: relative;
    margin: 0 auto;
    left: 25%;
    top: 25%;
    border: 1px solid rgb(255, 187, 0);
    box-shadow: 0px 5px 7px rgba(25,25,25,.7);
}
#log-container{
    /* background: lightslategrey; */
    width:100%;
    color: rgb(11, 255, 24);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4em;
}
#log-container p{
    width: 50%;
    margin: 0 auto;
    padding: 1em;
    background: rgba(0, 0, 0, 0.623);
    border: .5px solid black;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(7,7,7,.7);
}